@model AttendanceApplication.Models.RegisterModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>RegisterModel</h4>
<hr />
<form asp-action="AddRegistry" enctype="multipart/form-data">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </th>
            </tr>
            <tr>
                <th scope="row">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <br />
                </th>

            </tr>
            <tr>
                <th scope="row">
                    <div class="form-group">
                        <label asp-for="AttendDanceScheme" class="control-label"></label>
                        @Html.DropDownList("Scheme", new List<SelectListItem>
                        {
                            new SelectListItem { Text = "Scheme a-p", Value = "0", Selected = true},
                            new SelectListItem { Text = "Scheme a-p-l", Value = "1"},
                            new SelectListItem { Text = "Scheme a-p-l-a", Value = "2" },
                        }, "Select Scheme")
                    </div>

                </th>

            </tr>
        </tbody>
    </table>
    <hr />
    <h4>Users</h4>
    <br />
    <h5>Users</h5>
    <p>
        <div class="form-group">
            <label asp-for="ClassList" class="control-label"></label>
            <input asp-for="ClassList" class="form-control" />
            <span asp-validation-for="ClassList" class="text-danger"></span>
        </div>
    </p>
    <br />

    <table class="table" id="tbl">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Session Name</th>
                <th scope="col">Session Description</th>
                <th scope="col">Order</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tr>
            <th scope="row">1</th>
            <td>
                <div class="form-group">
                    <label asp-for="SessionDescription" class="control-label"></label>
                    <input asp-for="SessionDescription" class="form-control" />
                    <span asp-validation-for="SessionDescription" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label asp-for="SessionDescription" class="control-label"></label>
                    <input asp-for="SessionDescription" class="form-control" />
                    <span asp-validation-for="SessionDescription" class="text-danger"></span>
                </div>
            </td>
            <td>
                @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("NumOfOrder", new List<SelectListItem>
                    {
                        new SelectListItem { Text = "1", Value = "1", Selected = true},
                        new SelectListItem { Text = "2", Value = "2" },
                        new SelectListItem { Text = "3", Value = "3" }
                    })

                </div>
            </td>
            <td><input type="button" name="delete" value="delete" class="btn btn-default" onclick="Remove(this)" /></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>
                <div class="form-group">
                    <label asp-for="SessionName" class="control-label"></label>
                    <input asp-for="SessionName" class="form-control" />
                    <span asp-validation-for="SessionName" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label asp-for="SessionDescription" class="control-label"></label>
                    <input asp-for="SessionDescription" class="form-control" />
                    <span asp-validation-for="SessionDescription" class="text-danger"></span>
                </div>
            </td>
            <td>
                @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("NumOfOrder", new List<SelectListItem>
                {
                    new SelectListItem { Text = "1", Value = "1", Selected = true},
                    new SelectListItem { Text = "2", Value = "2" },
                    new SelectListItem { Text = "3", Value = "3" }
                })

                </div>
            </td>
            <td><input type="button" name="delete" value="delete" class="btn btn-default" onclick="Remove(this)" /></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>
                <div class="form-group">
                    <label asp-for="SessionName" class="control-label"></label>
                    <input asp-for="SessionName" class="form-control" />
                    <span asp-validation-for="SessionName" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label asp-for="SessionDescription" class="control-label"></label>
                    <input asp-for="SessionDescription" class="form-control" />
                    <span asp-validation-for="SessionDescription" class="text-danger"></span>
                </div>
            </td>
            <td>
                @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("NumOfOrder", new List<SelectListItem>
                {
                    new SelectListItem { Text = "1", Value = "1", Selected = true},
                    new SelectListItem { Text = "2", Value = "2" },
                    new SelectListItem { Text = "3", Value = "3" }
                })

                </div>
            </td>
            <td><input type="button" name="delete" value="delete" class="btn btn-default" onclick="Remove(this)" /></td>
        </tr>
        <tbody>
        </tbody>
    </table>
    <br />
    <p>
        <span><input type="button" value="Add Sessions" class="btn btn-default" id="btnAdd" onclick="Add() " /></span>
    </p>
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

    <hr />
    <input type="submit" value="Save" class="btn btn-primary" />
    <a class="btn btn-primary" asp-action="AddRegistry">Cancel</a>

</form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

